.rappid-main {
  position: relative;
  height: -moz-calc(80% - 60px);
  height: -webkit-calc(80% - 60px);
  height: calc(80% - 60px);
}
#block_container
{
  display: inline-block;
  margin: 0 auto;
  max-width: 1000px;

}
#opl-block
{
  float: left;
  width: 65%;
}
#opd-block
{
  float: left;
  width: 35%;
}

:host >>> .object { color: green; }
:host >>> .process { color: blue; }

