.opcloud-opd-tree {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show-tree-api-button {
  float: right;

  .show-or-hide {
    font-size: 30px;
    margin-left: -10px;
  }
}

.tree-api {

}