<div class="joint-theme-modern joint-toolbar">
  <span>{{modelName}}</span>
  <div class="joint-theme-modern joint-toolbar-group" data-group="undo-redo">
    <button class="joint-theme-modern joint-widget"
            data-tooltip="Undo"
            data-tooltip-position="top"
            data-tooltip-position-selector=".toolbar-container"
            data-type="undo"
            data-name="undo"
            (click)="undo()">
    </button>
    <button class="joint-theme-modern joint-widget"
            data-tooltip="Redo"
            data-tooltip-position="top"
            data-tooltip-position-selector=".toolbar-container"
            data-type="redo"
            data-name="redo"
            (click)="redo()">
    </button>
  </div>

  <div class="joint-theme-modern joint-toolbar-group" data-group="clear">
    <button class="joint-theme-modern joint-widget" id="btn-clear" data-tooltip="Clear Paper"
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="clear"></button>
  </div>

  <div class="joint-theme-modern joint-toolbar-group" data-group="export">
    <button class="joint-theme-modern joint-widget" id="btn-save" data-tooltip=""
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="save" (click)="saveModel()">Save Model
    </button>
    <button class="joint-theme-modern joint-widget" id="btn-save-as" data-tooltip=""
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="save-as" (click)="saveModelAs()">Save As
    </button>
    <button class="joint-theme-modern joint-widget" id="btn-load" data-tooltip=""
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="load" (click)="loadModel()">Load Model
    </button>

    <!--<button class="joint-theme-modern joint-widget" id="btn-png" data-tooltip="Open as PNG in a pop-up"
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="png">Export PNG
    </button>-->
  </div>

  <div class="joint-theme-modern joint-toolbar-group" data-group="print">
    <button class="joint-theme-modern joint-widget" id="btn-print" data-tooltip="Open a Print Dialog"
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="print"></button>
  </div>

  <div class="joint-theme-modern joint-toolbar-group" data-group="fullscreen">
    <button class="joint-theme-modern joint-widget" id="btn-fullscreen" data-tooltip="Toggle Fullscreen Mode"
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="fullscreen"></button>
  </div>

  <!--<div class="joint-theme-modern joint-toolbar-group" data-group="order">
    <button class="joint-theme-modern joint-widget" id="btn-to-front" data-tooltip="Bring Object to Front"
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="to-front">Send To Front
    </button>
    <button class="joint-theme-modern joint-widget" id="btn-to-back" data-tooltip="Send Object to Back"
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="to-back">Send To Back
    </button>
  </div>-->

  <div class="joint-theme-modern joint-toolbar-group" data-group="layout">
    <button class="joint-theme-modern joint-widget" id="btn-layout" data-tooltip="Auto-layout Graph"
            data-tooltip-position="top" data-tooltip-position-selector=".toolbar-container" data-type="button"
            data-name="layout"></button>
  </div>

  <div class="joint-theme-modern joint-toolbar-group" data-group="zoom">
    <button class="joint-theme-modern joint-widget" data-tooltip="Zoom To Fit" data-tooltip-position="top"
            data-tooltip-position-selector=".toolbar-container" data-type="zoomToFit" data-name="zoom-to-fit"></button>
    <button class="joint-theme-modern joint-widget" data-tooltip="Zoom Out" data-tooltip-position="top"
            data-tooltip-position-selector=".toolbar-container" data-type="zoomOut" data-name="zoom-out"></button>
    <label class="joint-theme-modern joint-widget" data-type="label" data-name="zoom-slider-label">Zoom:</label>
    <div class="joint-theme-modern joint-widget" data-type="zoomSlider" data-name="zoom-slider">
      <input type="range"
             name="zoom-slider"
             min="20"
             max="500"
             step="20"
             class="input">
      <output>100</output>
      <span class="units"> %</span></div>
    <button class="joint-theme-modern joint-widget" data-tooltip="Zoom In" data-tooltip-position="top"
            data-tooltip-position-selector=".toolbar-container" data-type="zoomIn" data-name="zoom-in"></button>
  </div>

  <div class="joint-theme-modern joint-toolbar-group" data-group="grid">
    <div class="joint-theme-modern joint-widget" data-type="separator"></div>
    <label class="joint-theme-modern joint-widget" data-tooltip="Change Grid Size" data-tooltip-position="top"
           data-tooltip-position-selector=".toolbar-container" data-type="label" data-name="grid-size-label">Grid
      size:</label>
    <div class="joint-theme-modern joint-widget" data-type="range" data-name="grid-size">
      <input type="range"
             name="range" min="1"
             max="50" step="1"
             class="input">
      <output>10</output>
      <span class="units"></span></div>
  </div>

  <div class="joint-theme-modern joint-toolbar-group" data-group="snapline">
    <div class="joint-theme-modern joint-widget" data-type="separator"></div>
    <label class="joint-theme-modern joint-widget" data-tooltip="Enable/Disable Snaplines" data-tooltip-position="top"
           data-tooltip-position-selector=".toolbar-container" data-type="checkbox" data-name="snapline"><span>Snaplines:</span><input
      type="checkbox" class="input" id="snapline-switch"><span></span>
    </label>
  </div>
</div>