.Structrial { background: url('../../../assets/OPM_Links/Structrial.png') no-repeat top left; width: 50px; height: 24px;}
.Structrial.Aggregation-Participation { background-position: -2px -0px; width: 74px; height: 24px; }
.Structrial.Exhibition-Characterization { background-position: -2px -26px; width: 74px; height: 24px; }
.Structrial.Generalization-Specialization { background-position: -2px -52px; width: 74px; height: 24px; }
.Structrial.Classification-Instantiation { background-position: -2px -78px; width: 74px; height: 24px; }
.Structrial.Unidirectional_Relation { background-position: -2px -104px; width: 73px; height: 24px; }
.Structrial.Bidirectional_Relation { background-position: -2px -130px; width: 73px; height: 24px; }

/* Agents Icons  */
.Agents { background: url('../../../assets/OPM_Links/Agents.png') no-repeat top left; width: 50px; height: 24px;}
.Agents.Condition_Agent { background-position: -2px -0px; width: 73px; height: 24px; }
.Agents.Event_Agent { background-position: -2px -26px; width: 73px; height: 24px; }
.Agents.Agent { background-position: -2px -52px; width: 73px; height: 24px; }

/*Instrument Links*/
.Instruments { background: url('../../../assets/OPM_Links/Instruments.png') no-repeat top left; width: 50px; height: 24px;}
.Instruments.Condition_Instrument { background-position: -2px -0px; width: 73px; height: 24px; }
.Instruments.Event_Instrument { background-position: -2px -26px; width: 73px; height: 24px; }
.Instruments.Instrument { background-position: -2px -52px; width: 73px; height: 24px; }

/*Effect links*/
.Effects { background: url('../../../assets/OPM_Links/Effects.png') no-repeat top left; width: 50px; height: 24px;}
.Effects.Condition_Effect { background-position: -2px -0px; width: 73px; height: 24px; }
.Effects.Event_Effect  { background-position: -2px -26px; width: 73px; height: 24px; }
.Effects.Effect { background-position: -2px -52px; width: 73px; height: 24px; }

/*Consumption links*/
.Consumptions { background: url('../../../assets/OPM_Links/Consumptions.png') no-repeat top left; width: 50px; height: 24px;}
.Consumptions.Event_Consumption { background-position: -2px -0px; width: 73px; height: 24px; }
.Consumptions.Condition_Consumption{ background-position: -2px -26px; width: 73px; height: 24px; }
.Consumptions.Consumption  { background-position: -2px -52px; width: 73px; height: 24px; }

/*Result Link*/
.Result { background: url('../../../assets/OPM_Links/Result.png') no-repeat top left; width: 73px; height: 24px;}

/*Invocation Link*/
.Invocation { background: url('../../../assets/OPM_Links/Invocation.png') no-repeat top left; width: 73px; height: 24px;}

/*Excetion Links*/
.Exceptions { background: url('../../../assets/OPM_Links/Exceptions.png') no-repeat top left; width: 50px; height: 24px;}
.Exceptions.Overtime_exception { background-position: -2px -0px; width: 73px; height: 24px; }
.Exceptions.Undertime_exception { background-position: -2px -26px; width: 73px; height: 24px; }


#dialog {
  position: fixed;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  opacity:0.87;
  box-shadow: 0 0 20px #000;
  cursor:all-scroll;
}
.dialog-corner-resize {
  position: absolute;
  width: 10px;
  height: 10px;
}
#dialog-top-left-resize { cursor: nwse-resize; top: 0; left: 0; }
#dialog-top-right-resize { top: 0; right: 0; }
#dialog-bottom-left-resize { cursor: nesw-resize; bottom: 0; left: 0; }
#dialog-bottom-right-resize {cursor:nwse-resize ; bottom: 0; right: 0; }


#dialog header {
  font-size:medium;
  background-color: lightslategrey;
  cursor:all-scroll;
  color: white;
  padding: 4px;
  text-align: center;
  max-width: inherit;
  height:auto;

}

#dialog header .exit-button {
  cursor: pointer;
  text-align: center;
  margin-right: -18px;
  margin-top: -15px;
  background-color: orange;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: double;
  border-color: white;
  position:absolute;
  top:0;
  right:0;

}

#dialog header .exit-button:hover {
  cursor: pointer;
  background: orangered;
}

#dialog header label{
  font-weight: bold;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display:inline-block;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
  vertical-align: top;
  max-width:20ch
}

#dialog header label:hover{
  background:lightcyan;
}

.numberCircle {
  background-color:#3a3c62;
  border-radius: 30%;
  width: 20px;
  height: 20px;
  padding: 3px;
  color: yellow;
  font-size: smaller;
  box-shadow: 0 0 2px #000;
}

#dialog md-grid-list {

  cursor:pointer;
  border-bottom: inset;
  padding: 5px;

}
#dialog md-grid-list:hover{
  background:lightgrey;

}

:host >>> .object {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inline-block;
  vertical-align: top;
  max-width:14ch
  ; color: #006400;
 }

:host >>> .process {
  color: #00008B;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  display:inline-block;
  max-width:15ch }

.item{
  margin-left: -29%;
  width: 1px;height: 100%;
  min-width:80%;
}


.opl{
  width: 100%;
  min-height:100%;
  font-weight: bold;
  font-size: small;

}
.oplname{
  margin-left: -60%;
  text-align: center;
  font-weight: bold;font-style: italic;
  font-size: 11px;
  word-spacing: 9999999px;
}

