/* You can add global styles to this file, and also import other style files */
@import '../OPCloud-dev/build/rappid.css';
@import '../OPCloud-dev/OPCloud/css/style.css';
@import '../OPCloud-dev/OPCloud/css/theme-picker.css';
@import '../OPCloud-dev/OPCloud/css/halo.css';
@import '../OPCloud-dev/OPCloud/css/OPCloud.css';
@import '~@angular/material/core/theming/all-theme';

@include md-core();

$primary: md-palette($md-deep-purple);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

@include angular-material-theme($theme);
